## Task-4(A)

In [1]:
import numpy as np

# method-1: array in NumPy
ar = np.array([["n", "u", "m", "p", "y"], ["n", "u", "m", "p", "y"]])
print("Array:\n{}".format(ar))

# method-2: Universal function in NumPy
n = np.array([0, np.pi / 2, np.pi])
print(
    "\nSine Values: {}".format(np.sin(n))
)  # will print the sine values of specified list

# method-3: all() in NumPy
print(
    "\nTrue for axis-0? {}".format(np.all([[True, True], [True, True]], axis=0))
)  # will return if every element is True for  given axis or not

# method-4: argsort() in NmuPy
print(
    "\nIndices for sorted array: \n{}".format(np.argsort(ar))
)  # returns the indices that would sort the array

# method-5: fill() in NumPy
n.fill(0)
print("\nFilled array: {}".format(n))  # will fill the entire array with specified value

Array:
[['n' 'u' 'm' 'p' 'y']
 ['n' 'u' 'm' 'p' 'y']]

Sine Values: [0.0000000e+00 1.0000000e+00 1.2246468e-16]

True for axis-0? [ True  True]

Indices for sorted array:
[[2 0 3 1 4]
 [2 0 3 1 4]]

Filled array: [0. 0. 0.]

In [2]:
import pandas as pd

In [3]:
# method-1 read_csv()
df = pd.read_csv(
    "netflix_titles.csv"
)  # will import the csv file in a variable(dataframe)

# method-2 head(): will return the top n-number of rows of dataframe
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [4]:
# method-3 tail(): will return the bottom n-number of rows in dataframe
df.tail(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [5]:
# method-4 type(): will return the type of given dataframe or dataframe column
type(df)

pandas.core.frame.DataFrame

In [6]:
# method-5 info(): will return the information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

# Task - 4D

In [7]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [8]:
ds=pd.read_csv("advertising.csv")

In [9]:
ds.head(5)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [10]:
ds.shape

(200, 4)

In [11]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [12]:
X = ds.iloc[:, :-1]
Y = ds.iloc[:, -1]

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [14]:
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression()

In [15]:
yp=regressor.predict(X_test)

In [16]:
from sklearn.metrics import r2_score

score = r2_score(Y_test, yp)

In [17]:
score

0.8645053923967725

In [18]:
Y_train

134    10.8
66     11.0
26     15.0
113    20.9
168    17.1
       ...
67     13.4
192     5.9
117     9.4
47     23.2
172     7.6
Name: Sales, Length: 160, dtype: float64